.Postcard-lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  align-items: stretch;
  
}
@media (max-width: 1024px) {
  .Postcard-lists {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .Postcard-lists {
    grid-template-columns: 1fr;
  }
}