.Navbar {
    background-color: var(--secondary-color);
    padding: 1.6rem 2.4rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: var(--shadow);
    
  }
  
  .Navbar h1 {
    font-size: 3.4rem;
    font-weight: 700;
    color: white;
  }
  
  .Navbar__menu {
    display: flex;
    color: var(--text-dark);
    align-items: center;
    gap: 4.8rem;
    font-size: 1.8rem;
    font-weight: 300;
    
  }
  
  .Navbar__menu a {
   
    transition: var(--transition);
    position: relative;
    display: inline-block;
  }
  
  .Navbar__menu a:hover {
    color: var(--text-light);
  }
  .Navbar__menu .active {
    color: var(--text-light);
    font-weight: 400;
    position: relative;
  }
  .Navbar__menu .active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 1px;
    background-color: var(--text-dark);
    border-radius: 1px;
    transition: width 0.3s ease;
  }
  /* burger icon */
  .Navbar__burger {
    display: none;
    font-size: 3rem;
    cursor: pointer;
    color: var(--text-light);
  }

  /* Responsive breakpoint */
@media (max-width: 768px) {
    .Navbar__burger {
      display: block;
    }
  
    .Navbar__menu {
      position: absolute;
      top: 100%;
      right: 2rem;
      background-color: var(--secondary-color);
      flex-direction: column;
      align-items: flex-start;
      gap: 1.6rem;
      padding: 2rem;
      border-radius: var(--border-radius);
      box-shadow: var(--shadow);
     
      opacity: 0;
    }
  
    .open {
        transform: translateY(0);
        opacity: 1;
        transition: transform 0.3s ease, opacity 0.3s ease;
        transform: translateY(-10px);
    }
  }
 